#searchInput {
  border-radius: 0!important;

  &:focus {
    border: 1px solid #ced4da!important;
    box-shadow: none!important;
  }
}

#searchButton {
  border: 1px solid #ced4da;
  border-radius: 0!important;
}

.search-results {
  position: relative;
  top: -1px;

  ul {
    position: absolute;
    top:0;
    display: none;
    background:#fff;
    width: 100%;
    border: 1px solid #ced4da;
    list-style-type: none;
    padding: 0.375rem 0.75rem;
    font-size: 0.8em;

    &.visible {
      display: block;
    }

    li {
      padding: 0.3rem 0;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(0,0,0,.1)
      }
    }
  }
}